body {
  background-color: #DEDBD2;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}



button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
}

p {
  font-size: 20px;
}

#important {
  color: #DEDBD2;
  background-color: #788679;
  border-radius: 10px;  
}


#general {
  color: #4A5759;
  background-color: #B0C4B1;
  border-radius: 10px;  
}

#buton, #delbuton, #dail {
  color: #DEDBD2;
  background-color: #4A5759;
  border-radius: 10px;
}

.note {
  box-sizing: border-box;
  display: flex;
  background-color: #F7E1D7;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  max-width: 500px;
  overflow-wrap: anywhere;
  margin: 10px 0;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
}
span {
  text-align: justify;
  margin-right: auto; 
}

.dots , .bin {
  
  border-radius: 10px;
  background-color: #EDAFB8;
  padding: 2px 2px;
}
.dots img, .bin img {
  box-sizing: content-box;
  width: 20px;
  height: 20px;
  border: none;
  background-color: transparent;
}